<% if @posts.empty? %>
<div id="message" style="margin-top: 30px">
  <p>
    <strong style="color: #dd3333; font-weight: bold"><%= @quip %></strong>
    The Frontier team are working on the game rather than posting to the forums since you last checked.
  </p>
  <br/>
  <%= button_to 'VIEW OLD POSTS', clear_session_posts_path, method: :post, class: 'btn' %>
</div>
<% end %>

<div id="posts" style="margin-top: 30px">
  <% @posts.each do |p| %>
    <%= raw p.body %>
  <% end %>
</div>

