<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" id="vbulletin_html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />

  <%= favicon_link_tag 'favicon.ico' %>

  <meta name="keywords" content="Frontier, Forum, Tracker, Devs, Staff, Filter" />
  <meta name="description" content="Commander Bewilderbeest's Elite Forum Tracker, showing you staff posts to the Frontier Forums" />

  <script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/vbulletin-core.js?v=422"></script>
  <link rel="stylesheet" type="text/css" href="http://forums.frontier.co.uk/css.php?styleid=13&langid=1&d=1414172413&td=ltr&sheet=bbcode.css,editor.css,popupmenu.css,reset-fonts.css,vbulletin.css,vbulletin-chrome.css,vbulletin-formcontrols.css," />

  <title>Elite Forums Tracker</title>
	
  <script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/vbulletin_quick_edit_generic.js?v=422"></script>
  <script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/vbulletin_quick_edit_visitormessage.js?v=422"></script>
  <script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/vbulletin_activitystream.js?v=422"></script>
	
  <link rel="stylesheet" type="text/css" href="http://forums.frontier.co.uk/css.php?styleid=13&langid=1&d=1414172413&td=ltr&sheet=activitystream.css,sidebar.css,forumbits.css,postbit.css,postbit-lite.css,showthread.css,member.css,user,32574" />
	
  <!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="css.php?styleid=13&langid=1&d=1414172413&td=ltr&sheet=sidebar-ie.css,member-ie.css,postbit-lite-ie.css" /><![endif]-->
	
  <link rel="stylesheet" type="text/css" href="http://forums.frontier.co.uk/css.php?userid=32574&cssuid=0&d=1414253213&td=ltr&styleid=0&sheet=userprofile.css" />
  <link rel="stylesheet" type="text/css" href="http://forums.frontier.co.uk/css.php?styleid=13&langid=1&d=1414172413&td=ltr&sheet=additional.css" />

  <style type="text/css">
  /* Some custom styles to help things stand out a bit more */
  
  html, .body_wrapper, .above_body {
    background-color: #fff;
  }

  div.excerpt { 
    font-size: 130%;
  }

  .title a {
    color: rgb(220, 70, 0) !important;
  }
  </style>

</head>

<body>
	<div class="above_body"> <!-- closing tag is in template navbar -->
<div id="header" class="floatcontainer doc_header">
	<div><a name="top" href="http://forums.frontier.co.uk/forum.php" class="logo-image"><img src="http://forums.frontier.co.uk/images/frontier/frontierLogo.png" alt="Frontier Forums" /></a></div>
</div><!-- closing div for above_body -->

<div class="body_wrapper">
  <ul id="activitylist">
    <%= yield %>
  </ul>
</div>

<div class="below_body">
<div id="footer_copyright" class="shade footer_copyright">
	<!-- Do not remove this copyright notice -->
	
	<!-- Do not remove this copyright notice -->	
</div>
  <div id="footer_morecopyright" class="shade footer_morecopyright">
      <a href="https://github.com/nickludlam/EDForumTracker">Made</a> in 2014 by <strong><a href="http://nick.recoil.org/">Commander Bewilderbeest</a></strong>, with moral support and inspiration from <strong>Commander Yan</strong> and <strong>Commander Athan</strong>.
  </div>
</div>

</body>
</html>
