
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="generator" content="vBulletin 3.8.7" />

<meta name="keywords" content="Frontier, playstation, playstation2, xbox, pc game, games, elite, elite 4, jobs, software, developer, infestation, zarch, v2000, virus, braben, darkside, darxide, darxide-emp, mobile, xbox360, playstation3, nintendo, wii, discussion, support, lost winds, outsider, video games, family entertainment, fun, online gaming, community" />
<meta name="description" content="Discussion forum for Frontier Developments community. A place to talk about video games, entertainment and games developed by Frontier." />

<!-- CSS Stylesheet -->
<style type="text/css" id="vbulletin_css">
body
{
	background: #444343 url(http://forums.frontier.co.uk/skins/elite/Elite-background-image-1px2.jpg) repeat-y top center;
	color: #FFFFFF;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 0; padding: 0;
}
a:link, body_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
a:visited, body_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
a:hover, a:active, body_ahover
{
	color: #FF4400;
	text-decoration: none;
}
.page
{
	color: #FFFFFF;
}
td, th, p, li
{
	color: #FFFFFF;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tborder
{
	background: #333832 url(http://forums.frontier.co.uk/skins/frontier/Category-strip.jpg) repeat-x top left;
	color: #CCCCCC;
}
.tcat
{
	background: #333832 url(http://forums.frontier.co.uk/skins/elite/Category-strip5.jpg) repeat-x top left;
	color: #FFFFFF;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tcat a:link, .tcat_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #FFFF66;
	text-decoration: underline;
}
.thead
{
	background: #734700 url(http://forums.frontier.co.uk/skins/frontier/Subcategory-strip.jpg) repeat-x top left;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.thead a:link, .thead_alink
{
	color: #FFFFFF;
}
.thead a:visited, .thead_avisited
{
	color: #FFFFFF;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #FFFFCC;
}
.tfoot
{
	background: #8f8e8e url(http://forums.frontier.co.uk/skins/elite/Category-strip3.jpg) repeat-x top left;
	color: #E0E0F6;
}
.tfoot a:link, .tfoot_alink
{
	color: #E0E0F6;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #E0E0F6;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #FFFF66;
}
.alt1, .alt1Active
{
	background: #232222;
	color: #FFFFFF;
}
.alt1 a:link, .alt1_alink, .alt1Active a:link, .alt1Active_alink
{
	text-decoration: underline;
}
.alt1 a:visited, .alt1_avisited, .alt1Active a:visited, .alt1Active_avisited
{
	text-decoration: underline;
}
.alt1 a:hover, .alt1 a:active, .alt1_ahover, .alt1Active a:hover, .alt1Active a:active, .alt1Active_ahover
{
	text-decoration: underline;
}
.alt2, .alt2Active
{
	background: #302f2f;
	color: #FFFFFF;
}
.alt2 a:link, .alt2_alink, .alt2Active a:link, .alt2Active_alink
{
	text-decoration: none;
}
.alt2 a:visited, .alt2_avisited, .alt2Active a:visited, .alt2Active_avisited
{
	text-decoration: none;
}
.alt2 a:hover, .alt2 a:active, .alt2_ahover, .alt2Active a:hover, .alt2Active a:active, .alt2Active_ahover
{
	text-decoration: none;
}
.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #444343;
	color: #FFFFFF;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}
.wysiwyg a:link, .wysiwyg_alink
{
	color: #22229C;
}
.wysiwyg a:visited, .wysiwyg_avisited
{
	color: #22229C;
}
.wysiwyg a:hover, .wysiwyg a:active, .wysiwyg_ahover
{
	color: #FF4400;
}
textarea, .bginput
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.bginput option, .bginput optgroup
{
	font-size: 10pt;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.button
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
select
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
option, optgroup
{
	font-size: 11px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.smallfont
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.time
{
	color: #666686;
}
.navbar
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.highlight
{
	color: #FF0000;
	font-weight: bold;
}
.fjsel
{
	background: #3E5C92;
	color: #000000;
}
.fjdpth0
{
	background: #F7F7F7;
	color: #000000;
}
.fjdpth1
{
	color: #000000;
}
.fjdpth2
{
	color: #000000;
}
.fjdpth3
{
	color: #000000;
}
.fjdpth4
{
	color: #000000;
}
.panel
{
	background: #444343;
	color: #CCCCCC;
	padding: 10px;
	border: 2px outset;
}
.panelsurround
{
	background: #915801;
	color: #CCCCCC;
}
legend
{
	color: #CCCCCC;
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.vbmenu_control
{
	background: #995e02 url(http://forums.frontier.co.uk/skins/frontier/Subcategory-strip.jpg)repeat-x top left;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #0B198C;
}
.vbmenu_option
{
	background: #fff6e6;
	color: #000000;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #8A949E;
	color: #FFFFFF;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 14pt; }

/* ***** small padding on 'thead' elements ***** */
td.thead, th.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** de-emphasized text */
.shade, a.shade:link, a.shade:visited { color: #777777; text-decoration: none; }
a.shade:active, a.shade:hover { color: #FF4400; text-decoration: underline; }
.tcat .shade, .thead .shade, .tfoot .shade { color: #DDDDDD; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }
.spoiler div{border:ridge; border-bottom-color:#999999; border-top-color:#999999; border-left-color:#999999; border-right-color:#999999; border-bottom-width:thin; border-top-width:thin; border-left-width:thin; border-right-width:thin;
}
}
.post a {
color:#d48101[/color];
background :none;
}
.post a:hover {
color: #FF4400[/color];
background:none;
}
}
</style>
<link rel="stylesheet" type="text/css" href="http://forums.frontier.co.uk/clientscript/vbulletin_important.css?v=387" />


<!-- / CSS Stylesheet -->

<script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/yui/yahoo-dom-event/yahoo-dom-event.js?v=387"></script>
<script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/yui/connection/connection-min.js?v=387"></script>
<script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/vbulletin_global.js?v=387"></script>
<script type="text/javascript" src="http://forums.frontier.co.uk/clientscript/vbulletin_menu.js?v=387"></script>

<title>Frontier Forums Dev Stalker</title>

</head>
<body>
<a name="top"></a>
<table border="0" width="882" cellpadding="0" cellspacing="0" align="center">
<tr>
	<td align="left"><a href="http://elite.frontier.co.uk"><%= image_tag "customheader.png" %></a></td>
	<td align="right" id="header_right_cell">
		&nbsp;
	</td>
</tr>
</table>
<!-- /logo -->

<div align="center">
  <div class="page" style="width:882px; text-align:left">
    <div style="padding:0px 0px 0px 0px" align="left">
    <br />

<%= yield %>

    </div>
    
    <div style="margin-top: 30px; border-top: 1px solid #666">
      <p>Made in August 2014 by <strong><a href="http://nick.recoil.org/">Commander Bewilderbeest</a></strong>, with moral support and inspiration from <strong>Commander Yan</strong>.</p>
    </div>

    
  </div>
</div>

</body>
</html>
